// Page specific style guide


// Tools (components and layouts)

@import "1-tools";


// sections custom styling


// backgrounds

.bg-hero {
    background: url("../img/bg_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 100% !important;


    @media(min-width: 980px) {
        min-height: 100vh !important;
        background-position: 50% 50%;
    }
}

.bg-product {
    background: url("../img/bg-mastery.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 980px) {
        background-position: center;
    }
}


// navbar

// navbar

nav {
    .nav-link {
        color: #fff !important;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 2px;
    }

    

    .navbar-nav {
        background: #0d0d0d !important;
    }

    @media(min-width: 980px) {
        padding: 1rem 7rem !important;

        .nav-hover::after {
            content: "";
            display: block;
            height: 3px;
            width:  0%;
            background: $fta-orange-light;
            transition: width 0.2s ease-in;
        }
    
        .nav-hover:hover::after {
            width: 100% !important;
        }    

        .navbar-nav {
            background: transparent !important;
        }

        .underline {
            border-bottom: solid 3px $fta-orange-light !important;
            //background: $fta-orange-light;
        }
    }

    @media(max-width: 768px) {
        .navbar-nav {
            padding: 30px !important;
        }
    }
}

.hero-cta {
   // max-width: 100% !important;

    @media(min-width: 980px) {
        margin-top: 230px !important;
        //max-width: 90% !important;
    }
}

.jumbotron {
    background: transparent !important;

    @media(max-width: 600px) {
        background: rgba(0,0,0,0.4) !important;
    }
}


// about 

.about {
    min-height: 700px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .about-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
}


// product 

.product {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// footer

footer {
    
    a {
        color: $muted !important;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out;
    }

    a:hover{
        color: $fta-orange-light !important;
    }

    
}