// Page specific style guide


// Tools (components and layouts)

@import "1-tools";


// sections custom styling


// backgrounds

.bg-hero {
    background: url("../img/bg_hero_alt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 53% 50% !important;
    min-height: 100vh !important;
   // background-attachment: fixed;

    @media(min-width: 980px) {
        min-height: 100vh !important;
        background-position: 50% 50%;
    }
}

.bg-product {
    background: url("../img/bg-product.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    @media(min-width: 980px) {
        background-position: center;
    }
}

.bg-tribe {
    background: url("../img/bg-tribe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 980px) {
        background-position: center bottom;
    }
}

.bg-contact {
    background: url("../img/bg-mastery.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 980px) {
        background-position: 50% 80%;
    }
}


.bg-muted {
    background: $bg-muted;
}

// social icons

.social {
    display: flex;
    margin: 0px;

    a {
        padding: 5px;
    }
}

// navbar

nav {
    padding: 0.5rem 2rem !important;
    min-height: 40px;
    background: rgba(0,0,0,0.85);

    a {
        color: #fff !important;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 3px;
        margin: 0px 7px;
    }

    .nav-link::after {
        content: "";
        display: flex;
        height: 3px;
        width: 100%;
        //background: $fta-orange-light;
        margin-top: 3px;
    }

    .hover-effect::after {
        content: "";
        display: flex;
        height: 3px;
        width: 0%;
        background: $fta-orange-light;
        transform: translateY(10px);
        transition: width 0.3s ease-in-out;
    }
    
    .hover-effect:hover::after {
        width: 100%;
    }

    @media(min-width: 980px) {
        padding: 0.5rem 5rem !important;
        background: rgba(0,0,0,0.65);
        min-height: 100px;

        .login-cta {
            a {
               border-bottom: solid 3px $fta-orange-light;
            }
        }
    }
}


.jumbotron {
    background: transparent;
    margin: auto;
    text-align: center;
    color: #fff;
    padding-top: 100px;

    @media(min-width: 768px) {
        padding-top: 350px;
    }

    @media(min-width: 980px) {
        p.lead{
            width: 45%;
            margin: 0 auto;
        }
    }
        
}


// about 

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: 980px) {
        min-height: 700px;
    }
}




// product 

.product {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// coaches
.coaches {
    min-height: 100vh;

    .card {
        background: transparent;
        border:  none;
        margin: 10px 7px !important;
    }
}

.social {
    i {
        background: transparent;
        color: $muted;
        font-size: 18px;
        border: solid 1px rgba(0,0,0,0.16);
        border-radius: 0;
        transition: transform 0.3s ease-in-out;
    }

    i:hover {
        transform: translateY(-7px);
        color: $fta-orange-light;
    }
}


// tribe



.tribe-show {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .divider {
        height: 10px;
        background: $fta-orange-light;
        width: 100%;
    }

    .card-deck {
        margin: auto;  

        @media(max-width: 768px) {
           display: block !important;
        }
    }

    .card {
        border: none;
       // box-shadow: 10px 30px 72px rgba(0,0,0,0.16);
        max-width: 300px;
        margin: 20px 20px !important;
        background: transparent !important;

        @media(min-width: 768px) {
            max-width: 500px;
        }
    }

    .card-title {
        font-size: 18px !important;
        letter-spacing: 1px;
    }


    .fb-video {
        //max-width: 300px;
        min-width: 100% !important;

        @media(min-width: 768px) {
            min-width: 100% !important;
        }
    }
}

// contact

.contact {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

// forms

input, textarea {
    box-sizing: border-box !important;
    background: #fff !important;
    border: none !important;
    padding: 24px 20px !important;
    border-radius: 0 !important;
    outline: none;
    box-shadow: none !important;
    //transition: outline 0.1s ease-in-out !important;
}

input:focus {
    outline: solid 2px $fta-orange-light !important;
}

textarea:focus {
    outline: solid 2px $fta-orange-light !important;
}


// footer

footer {
    background: rgba(0,0,0,0.85);
    margin: auto;
    text-align: center;

    a, p, i {
        color: #ffffff !important;
    }
    
    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1.5px;
        transition: color 0.3s ease-in-out;
    }
    hr {
        background: $fta-orange-light !important;
        height: 3px !important;
    }

    a:hover{
        color: $fta-orange-light !important;
    }

    .social i {
        border-color: #fff !important;
        transition: all 0.3s ease-in-out;
    }

    i:hover{
        color: $fta-orange-light !important;
    }
    
}